*{
    font: 16px 'Pretendard', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
html, body{
    height: 100%;
    min-width: 1248px;
    overflow-x: auto;
}

.container{
    white-space:nowrap;
    overflow-x: auto;
    width: 100%;
}
input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
}

input[type="radio"] + label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

a{
    color: #000;
    text-decoration: none;
}

ul, ol, li{
    list-style: none;
}

input[type="button"]{
    outline: none;
    border : none;
}

.gb-1{
    border : 1px solid black;
}

.swap{
    max-width: 1248px;
    margin:0 auto;
}

#inbody{
    margin-top:193px;
}
/* anime----------------------------------------------------------------- */
.underGreen{
    position: relative;
    display: inline-block;
    color: #333333;
    font-size: 14px;
    font-weight: 500;
    height: 70%;
    align-items: center;
}

.underGreen::after{
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    width: 0;
    height: 4px;
    background: #117935;
    transition : width 0.3s ease-in-out;
}

.underGreen:hover{
    color: #117935;
}

.underGreen:hover::after{
    width: 100%;
}
/* nav---------------------------------------------------------------- */
#nav{
    position: fixed;
    width: 100%;
    border-bottom:1px solid #eeeeee;
}
/* over---------------------------------------------------------------- */
#over{
    align-items: center;
    height: 36px;
    background-color: #edf1f5;
    color: rgb(95, 95, 95);
}

#over .swap{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

#over .swap img{
    padding: 0 10px;
}

#over .swap p{
    font-size: 12px;
}
/* top---------------------------------------------------------------- */
#top{
    background-color: #62d491;
    height: 40px;
}

#top .swap{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

#top .swap *{
    display: flex;
    align-items: center;
    padding: 0 20px;
}

#top .swap .right div:first-child p{
    font-size: 15px;
    font-weight: bold;
}

#top .swap .right div:last-child{
    background-color: #ffffff;
    border-radius: 50px 50px 50px 50px;
    padding: 0;
    width: 90px;
    height: 23px;
    margin : 0;
}

#top .swap .right div:last-child a{
    font-size: 14px;
    margin:0;
    padding:10px;
}

#top .swap .left {
    display: flex;
    border-left : 1px solid #5dc488;
    border-right : 1px solid #5dc488;
    height: 100%;
    width: 250px;
    padding: 0;
}

#top .swap .left input[type="radio"]:checked + label{
    height: 100%;
    width: 100%;
    font-weight: 700;
    color : #333333;
    background: white;
    text-align: center;
}
/* member-menu---------------------------------------------------------------- */
#member-menu ul{
    display: flex;
    gap : 10px;
    justify-content : flex-end;
    height: 40px;
    align-items: center;
}

#member-menu ul li{
    font-size: 13px;
    color: #2c2c2c;
}

/* menu---------------------------------------------------------------- */
#menu {
    display: flex;
    align-items: center;
    min-width: 1248px;
    gap: 20px;
}

#menu > div:first-child {
    width: 150px;
}

#menu > div:last-child {
    width: 150px;
    text-align: center;
}
#menu > div:last-child a{
    font-size: 20px;
    font-weight: 600;
    color: #333333;
}


#menu_ul:hover::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100vw;
    height: 248px;
    top: 100%;
    background: white;
    z-index: -1;
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    pointer-events: none;
}

#menu_ul:hover::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
    top: calc(100% + 248px);
    background: rgba(0, 0, 0, 0.2);
    pointer-events: none;
}

#menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 77px;
    flex: 1;
}

#menu ul li {
    height: 100%;
}


#menu ul a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    position: relative;
}

#menu ul .bottom {
    position: absolute;
}

#menu ul .bottom li {
    height: 40px;
}

#menu ul .bottom li a {
    padding: 2px 0;
    display: flex;
    justify-content: flex-start;
}

#menu_ul > li {
    position: relative;
}

#menu_ul > li .bottom {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
}

#menu_ul:hover .bottom {
    display: block;
}
/* inbody---------------------------------------------------------------- */
