*{
    font: 16px 'Pretendard', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
.blind{
    display: block;
}

html, body{
    height: 100%;
    min-width: 1248px;
    overflow-x: auto;
}

.container{
    white-space:nowrap;
    overflow-x: auto;
    width: 100%;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
}

input[type="radio"] + label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

a{
    color: #000;
    text-decoration: none;
}

ul, ol, li{
    list-style: none;
}

input[type="button"]{
    outline: none;
    border : none;
}

.gb-1{
    border : 1px solid black;
}

.swap{
    max-width: 1248px;
    margin:0 auto;
}

.swapb{
    max-width: 1248px;
    margin: 193px auto 0;
}

/* anime----------------------------------------------------------------- */
.underGreen{
    position: relative;
    display: inline-block;
    color: #333333;
    font-size: 14px;
    font-weight: 500;
    height: 70%;
    align-items: center;
}

.underGreen::after{
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    width: 0;
    height: 4px;
    background: #117935;
    transition : width 0.3s ease-in-out;
}

.underGreen:hover{
    color: #117935;
}

.underGreen:hover::after{
    width: 100%;
}
/* nav---------------------------------------------------------------- */
#nav{
    position: fixed;
    width: 100%;
    border-bottom:1px solid #eeeeee;
    z-index: 10;
}
/* over---------------------------------------------------------------- */
#over{
    align-items: center;
    height: 36px;
    background-color: #edf1f5;
    color: rgb(95, 95, 95);
}

#over .swap{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

#over .swap img{
    padding: 0 10px;
}

#over .swap p{
    font-size: 12px;
}
/* top---------------------------------------------------------------- */
#top{
    background-color: #62d491;
    height: 40px;
}

#top .swap{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

#top .swap *{
    display: flex;
    align-items: center;
    padding: 0 20px;
}

#top .swap .right div:first-child p{
    font-size: 15px;
    font-weight: bold;
}

#top .swap .right div:last-child{
    background-color: #ffffff;
    border-radius: 50px 50px 50px 50px;
    padding: 0;
    width: 90px;
    height: 23px;
    margin : 0;
}

#top .swap .right div:last-child a{
    font-size: 14px;
    margin:0;
    padding:10px;
}

#top .swap .left {
    display: flex;
    border-left : 1px solid #5dc488;
    border-right : 1px solid #5dc488;
    height: 100%;
    width: 250px;
    padding: 0;
}

#top .swap .left input[type="radio"]:checked + label{
    height: 100%;
    width: 100%;
    font-weight: 700;
    color : #333333;
    background: white;
    text-align: center;
}
/* member-menu---------------------------------------------------------------- */
#member-menu{
    background: white;
}

#member-menu ul{
    display: flex;
    gap : 10px;
    justify-content : flex-end;
    height: 40px;
    align-items: center;
}

#member-menu ul li{
    font-size: 13px;
    color: #2c2c2c;
}

/* menu---------------------------------------------------------------- */
#menu{
    background: white;
}

#menu .swap{
    display: flex;
    background: white;
    align-items: center;
    min-width: 1248px;
    gap: 20px;
}

#menu .swap > div:first-child {
    width: 150px;
}

#menu .swap > div:last-child {
    width: 150px;
    text-align: center;
}
#menu .swap > div:last-child a{
    font-size: 20px;
    font-weight: 600;
    color: #333333;
}


#menu_ul:hover::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100vw;
    height: 248px;
    top: 100%;
    background: white;
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    pointer-events: none;
}

#menu_ul:hover::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
    top: calc(100% + 248px);
    background: rgba(0, 0, 0, 0.2);
    pointer-events: none;
}

#menu .swap ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 77px;
    flex: 1;
}

#menu .swap ul li {
    height: 100%;
}


#menu .swap ul a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    position: relative;
}

#menu .swap ul .bottom {
    position: absolute;
}

#menu .swap ul .bottom li {
    height: 40px;
}

#menu .swap ul .bottom li a {
    padding: 2px 0;
    display: flex;
    justify-content: flex-start;
}

#menu_ul > li {
    position: relative;
}

#menu_ul > li .bottom {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
}

#menu_ul:hover .bottom {
    display: block;
}

/* inbody---------------------------------------------------------------- */
#inbody {
    margin-top: 243px;
}

#inbody-1 {
    position: relative;
}
#inbody-1 .image{
    position: absolute;
    display: block;
    left:-100px;
    top: 22px;
    width: 186px;
    height: 79px;
    background: url(https://www.work24.go.kr/cm/static/images/main_new/bg_visual.png) no-repeat;
}
#inbody-1 .swapb{
    display: flex;
}
/*search------------------------------------------------  */
#search{
    height: 248px;
    width: 682px;
    padding: 47px 0px 0px;
}

#search .way{
    display: flex;
    align-items: center;
}

#search .way input[type='radio']+label{
    width: auto;
    margin-left: 15px;
}

#search .way input[type='radio']+label::before{
    display:inline-block;
    content:"";
    width:30px;
    height:30px;
    background: url(https://www.work24.go.kr/cm/static/images/radio_unify_search_default.png) no-repeat;
    background-size: 30px;
    vertical-align: top;
    margin:-4px 5px 0 0;
}

#search .way span{
    color : #757575;
    font-size:20px;
    font-weight: 600;
}

.underBlue::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: #4b64e1;
    transition: width 0.3s ease-in-out;
}

.underBlue:hover {
    color: #4b64e1;
}

.underBlue:hover::after {
    width: 100%;
}
/* input------------------------------------------------------------ */
#search .input{
    display: flex;
    justify-content: center;
    width: 682px;
    height: 62px;
}

#querySelect{
    width:135;
    height: 54;
    padding: 0, 16px, 0, 0;
}
#querySelect span{
    width:33.94;
    height: 27;
    color: #333333;
}

#search .input input[type="text"]{
    width: 455px;
    height: 45px;
    margin : 0, 0, 0, 98px;
}

#search .input>a{
    background: url(https://www.work24.go.kr/cm/static/images/main_new/ico24_search.svg) no-repeat;
    margin : -18px, 0px, 0px;
    width: 32;
    height: 32;
}
/* loginBenefit---------------------------------------------------- */
#loginBenefit{

}